.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
  font-weight: bold;
  &-nav {
    &-logo {
      position: relative;
      cursor: pointer;
      color: $color-black;
      @include underline(0.125rem, $color-primary, 0.2s);
      &:hover {
        color: $color-primary;
        transition: 0.2s ease-in-out;
        &::after {
          width: 100%;
        }
      }
    }
    &-list {
      display: none;
      @include breakpoint($large) {
        display: flex;
        gap: 2.5rem;
        margin-bottom: 0;
      }
      &-item {
        position: relative;
        list-style: none;
        cursor: pointer;
        color: $color-black;
        @include underline(0.125rem, $color-primary, 0.2s);
        &:hover {
          color: $color-primary;
          transition: 0.2s ease-in-out;
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}
