.header {
  margin-top: 2.5rem;
  font-weight: bold;
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-menu {
      display: flex;
      align-items: center;
      width: 1.75rem;
      height: 1.625rem;
      cursor: pointer;
      &:hover {
        .header-wrapper-menu-hamburger {
          width: 1.75rem;
          transition: 0.3s ease-in-out;
        }
      }
      &-hamburger {
        width: 1.25rem;
        height: 0.125rem;
        background-color: $color-primary;
        position: relative;
        &::before, &::after {
          content: '';
          position: absolute;
          width: 1.75rem;
          height: 0.125rem;
          background-color: $color-primary;
        }
        &::before {
          top: 0.625rem;
          left: 0;
        }
        &::after {
          top: -0.625rem;
          left: 0;
        }
      }
      @include breakpoint($large) {
        display: none;
      }
    }
    &-nav {
      &-logo {
        position: relative;
        cursor: pointer;
        color: $color-black;
        @include underline(0.125rem, $color-primary, 0.2s);
        &:hover {
          color: $color-primary;
          transition: 0.2s ease-in-out;
          &::after {
            width: 100%;
          }
        }
      }
      &-list {
        display: none;
        @include breakpoint($large) {
          display: flex;
          gap: 2.5rem;
          margin-bottom: 0;
        }
        &-item {
          position: relative;
          list-style: none;
          cursor: pointer;
          color: $color-black;
          @include underline(0.125rem, $color-primary, 0.2s);
          &:hover {
            color: $color-primary;
            transition: 0.2s ease-in-out;
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
