$color-white: #fff;
$color-black: #222;

$color-electric-violet: #8C30F5;
$color-electric-violet-light: #9744F6;
$color-my-sin: #FFB61D;

$color-primary: $color-electric-violet;
$color-secondary: $color-my-sin;
$color-border: $color-black;

$color-title: $color-black;
$color-title-secondary: $color-primary;
$color-text: $color-black;
$color-btn: $color-white;
$color-btn-hover: $color-electric-violet-light;

$color-highlighted: $color-secondary;
$color-footer: $color-primary;
